doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.4.custom.min.css')
        script(data-main='/javascripts/app' src='/javascripts/lib/require.js')
    body
    a(href='/') Back
    // Wrapper
    #wrapper
        // Offer INFO
        #offerInfo
            h2 Offer Info
            p
                strong Header:
                input#offerInfoHeader(type='text')
                br
                strong Photo:
                input#offerInfoPhoto(type='text',placeholder='photo 1')
                input#offerInfoImage(type='text',placeholder='photo 2')
                select#offerInfoType
                    option(value="0") Select Type
                    option(value="Food") Food
                    option(value="Drink") Drink
                    option(value="GuestList") GuestList
                    br
                select#offerInfoIsFeatured
                    option(value="-1") Is Featured
                    option(value="0") False
                    option(value="1") True
                br
                select#offerInfoVenueV
                    option(value="0") Select a Venue
                    -for (var x = 0; x < venue.length; x++)
                        option(value= "#{venue[x]._id}") #{venue[x].name}
                br
                input#offerInfoStartDate.date(type='text',placeholder='Start Date')
                input#offerInfoEndDate.date(type='text',placeholder='End Date')
                br
                strong Timings:
                input#offerInfoTime(type='text')
                button#edit Edit
        #offerList
            table
                thead
                    th Offer Name
                    th Venue
                    th Delete?
                tbody

        // ADD Offer
        h2 Add Offer
        #addUser
            fieldset
                input#offerHeader(type='text', placeholder='header string')
                input#offerPhoto(type='text', placeholder='photo 1')
                input#offerImage(type='text',placeholder='photo 2')
                br
                select#offerType
                    option(value="0") Select Type
                    option(value="Food") Food
                    option(value="Drink") Drink
                    option(value="GuestList") GuestList
                select#offerIsFeatured
                    option(value="-1") Is Featured
                    option(value="0") False
                    option(value="1") True
                br
                select#offerVenueV
                    option(value="0") Select a Venue
                    -for (var x = 0; x < venue.length; x++)
                        option(value= "#{venue[x]._id}") #{venue[x].name}
                br
                input#offerStartDate.date(type='text',placeholder='Start Date')
                input#offerEndDate.date(type='text',placeholder='End Date')
                br
                input#offerTime(type='text',placeholder='Timing Information')
                br
                button#btnAddOffer Add Offer
        // /ADD Offer
    // /WRAPPER